@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/**reset**/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

i {
  display: block;
}

/* form {
  width: max-content;
} */

input {
  padding: 0;
  font-family: "ELAND_Choice_M", sans-serif;
}

input:focus,
select:focus,
button {
  outline: none;
}

/* .inputPlace,
.row_input_inputPlace {
  display: block;
  background-color: rgb(245, 241, 243);
  width: 170px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-family: "ELAND_Choice_M", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-indent: 0.7em;
} */

button {
  font-family: "ELAND_Choice_M", sans-serif;
}

/****/

.wrapper {
  width: 100%;
}

.logo_container {
  padding: 55px 0 35px 0;
  margin: 0 auto;
  border-bottom: solid rgb(223, 212, 212) 1px;
  text-align: center;
}

.logo {
  color: rgb(100, 72, 72);
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
}

.join_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  max-width: 768px;
  /* max-width: 768px; */
  /* border-radius: 20px;
  box-shadow: 0px 8px 28px -7px rgba(186, 157, 167, 0.62); */
  font-family: "ELAND_Choice_M", sans-serif;
}

.input_group {
  width: 80%;
  margin-bottom: 50px;
}

.input_title {
  display: block;
  margin: 7px 0 5px 0;
  font-size: 13px;
  font-weight: 400;
}

.inputPlace,
.row_input_inputPlace {
  background-color: rgb(245, 241, 243);
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13.3333px;
  text-indent: 0.7em;
}

.inputPlace :not(.row_input_inputPlace) {
  width: 170px;
}

input::placeholder {
  color: rgb(185, 183, 183);
  font-size: 13px;
}

.join_button,
.postcode_search_button {
  background-color: rosybrown;
  height: 30px;
  padding: 0 15px;
  border: 0;
  border-radius: 5px;
  color: seashell;
  font-size: 13px;
}

.join_button:hover,
.postcode_search_button:hover {
  opacity: 0.5;
  transition: opacity 200ms;
  cursor: pointer;
}

.warning {
  display: none;
  margin: 5px 0 7px 0;
  color: darkred;
  font-size: 12px;
  font-weight: 400;
  /* word-break: keep-all; */
}

.displayInline {
  display: inline;
}

.gender_select {
  width: 33.3333%;
  height: 27px;
  font-family: "ELAND_Choice_M", sans-serif;
}

.address_input_container {
  margin-bottom: 5px;
}

.adress_inputPlace {
  width: 250px;
  margin-bottom: 5px;
}

/****/

.input_container {
  width: 60%;
  margin: 0 auto;
}

.inputPlace {
  width: 100%;
}

.row_input_group {
  display: flex;
}

.row_input_inputPlace {
  width: 33.3333%;
}

.row_input_inputPlace:not(:last-of-type) {
  margin-right: 3px;
}

.address_input_container {
  display: flex;
}

.postcode_inputPlace {
  margin-right: 3px;
}

.postcode_search_button {
  flex-shrink: -0;
}

.join_button {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .input_group {
    width: 100%;
  }

  .input_container {
    width: 90%;
  }

  .row_input_group {
    width: 100%;
  }
}

.password_wrong_warning_container {
  display: none;
  position: relative;
  margin: 3px 0 5px 0;
}
/* 
.password_guid_button {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 3px;
  color: red;
  font-size: 12px;
  cursor: pointer;
} */

.password_guid_button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: rgb(24, 82, 170);
  font-size: 12px;
  cursor: pointer;
}

/* .password_guid_button {
  background-image: url("https://i.pinimg.com/474x/5d/fd/75/5dfd7562734a524ebcb68e2fc4b7edcc.jpg");
  background-size: 103%;
  background-position: center;
  width: 17px;
  height: 17px;
  position: relative;
  top: -3px;
  border: none;
  border-radius: 3px;
  color: red;
  font-size: 0;
  cursor: pointer;
} */

.password_guid_button:focus {
  outline: none;
}

.password_guid_messageBox {
  background-color: white;
  display: none;
  position: absolute;
  margin: 3px 0;
  padding: 10px 5px;
  border: solid rgb(236, 236, 236) 1px;
  border-radius: 5px;
  font-size: 12px;
}

.screenReader_only {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px; width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
